* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.topo {
	background-color: #e0b1cb;
	border-width: 0;
}

.topo a{
	color: purple !important;
	font-size: 24px;
	font-weight: bold;
	text-shadow:
    1px 1px 4px black,
    0 0 1em blue,
    0 0 0.2em blue;
  color: white;
  font:
    1.8em Georgia,
    "Bitstream Charter",
    "URW Bookman L",
    "Century Schoolbook L",
    serif;
	
}

section.banner {
	padding: 150px 0;
	position: relative;
	min-height: 700px;
	background-image: url('../images/bg.jpg');
	width: 100%;
	background-size: cover;
	background-position: center;
}

.overlay {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	background: rgba(0, 0, 0, 0.3);

}

.chamada-banner h2{
	color: #e0b1cb;
	font-size: 50px;
	font-weight: bold;
}

.chamada-banner p{
	color: white;
	font-size: 21px;
	font-weight: 100;
}

.box {
	position: relative;
	top: 30px;
}

